@model IEnumerable<clientes_wfc.ServiceReference1.stpr_ProductCategoryList_Result>

@{
    ViewBag.Title = "Index";
}

<h2>ProductCategory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { ProductCategoryID = item.ProductCategoryID  })
        </td>
    </tr>
}

</table>
