@model IEnumerable<cliente_api.Models.UnitMeasureClass>

@{
    ViewBag.Title = "Index";
}

<h2>UnitMeasure</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UnitMeasureCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UnitMeasureCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        
    </tr>
}

</table>
